:root {
    /* --color-background:#ebebeb; */
    --color-text:#ffffff;
    --color-nav-background: #201531;
    --color-background: #100620;
    --color-accent-red1: #B42B3F;
    --color-accent-red2: #E42F45;
    --color-accent-blue1: #839CEE;
    --color-accent-blue2: #8AB2FF;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1{
    z-index: 2;
    position: relative;
    margin-left: 15vw;
    display: block;
    font-size: 8vw;
    letter-spacing: 10px;
}

p {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background:  

    /* Blue upper diagonal line */
    linear-gradient(80deg, rgba(0,255,0,0) 69.5%, rgba(0, 0, 0, 0.3) 69.9%, var(--color-accent-blue2)70%, var(--color-accent-blue2)75%, 
    var(--color-accent-blue1)75%, var(--color-accent-blue1)80%, rgba(0, 0, 0, 0.3) 80.1%, rgba(0,255,0,0) 80.5%),

    /* Blue lower diagonal line */
    linear-gradient(60deg, rgba(0,255,0,0) 19.5%, rgba(0, 0, 0, 0.3) 19.9%, var(--color-accent-blue2)20%, var(--color-accent-blue2)25%, 
    var(--color-accent-blue1)25%, var(--color-accent-blue1)30%, rgba(0, 0, 0, 0.3) 30.1%, rgba(0,255,0,0) 30.5%),
    
    /* Red vertical line */
    linear-gradient(90deg, var(--color-background)12.5%, rgba(0, 0, 0, 0.3) 13%, var(--color-accent-red2)13%, var(--color-accent-red2) 17%, 
    var(--color-accent-red1)17%, var(--color-accent-red1) 21%, rgba(0, 0, 0, 0.3) 21%, var(--color-background)21%),
    
    /* Background */
    linear-gradient(var(--color-background)45%, var(--color-background)55%);

    color: var(--color-text);
    
}

header {
    background:  
    /* Blue Line Left */
    linear-gradient(145deg, rgba(0,255,0,0) 19.5%, rgba(0, 0, 0, 0.3) 19.9%, var(--color-accent-blue2)20%, var(--color-accent-blue2)27%, 
    var(--color-accent-blue1)27%, var(--color-accent-blue1)34%, rgba(0, 0, 0, 0.3) 34.1%, rgba(0,255,0,0) 34.5%),

    /* Blue Line Right */
    linear-gradient(250deg, rgba(0,255,0,0) 19.5%, rgba(0, 0, 0, 0.3) 19.9%, var(--color-accent-blue2)20%, var(--color-accent-blue2)25%, 
    var(--color-accent-blue1)25%, var(--color-accent-blue1)30%, rgba(0, 0, 0, 0.3) 30.1%, rgba(0,255,0,0) 30.5%),

    /* Red background */
    linear-gradient(var(--color-accent-red2)45%, var(--color-accent-red1)55%);



    /* background-image: linear-gradient(var(--color-accent-red2)45%, var(--color-accent-red1)55%); */
    color: var(--color-text);
    display: flex;
    text-align: center;
    align-items: end;
    flex-direction: row;
    width: 100%;
}

header p {
    padding-bottom: 2vw;
    z-index: 2; 
}

/* @media only screen and (max-width: 58em) {
    header p {
        font-size: 0.75em;
    }
} */

header{
    overflow: hidden;
}

header>div{
    position: absolute;
    overflow: hidden;
    height: 10vw;
    width: 100%;
}

#div1 {
    z-index: 1;
    position: relative;
    left: 100px;
    top: -40px;
    rotate: 10deg;
    width: 100%;
    height: 75px;
    background-image: linear-gradient(var(--color-accent-blue2)45%, var(--color-accent-blue1)55%);
    display: none;
}

#div2 {
    z-index: 1;
    position: relative;
    left: -400px;
    top: 20px;
    rotate: -30deg;
    width: 80em;
    height: 75px;
    background-image: linear-gradient(var(--color-accent-blue2)45%, var(--color-accent-blue1)55%);
    overflow-x: hidden;
    display: none;
}

nav {
    background: linear-gradient(45deg, #2a1d3def 50%, #0b0318ef 100%);
    height: 3em;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


/* nav:has(ul:hover) li:nth-of-type(2){
    background-color: aqua;
} */

nav ul {
    position: relative;
    left: 10px;
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

nav li {
    float: left;
    overflow: visible;
    /* margin: 20px; */
}

nav a {
    font-size: 1.5em;
    display: block;
    color: var(--color-text);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    padding-left: 2vw;
    padding-right: 2vw;
}

nav li:nth-of-type(even) a:hover {
    z-index: 5;
    rotate: 5deg;
    background-image: linear-gradient(var(--color-accent-blue2)45%, var(--color-accent-blue1)55%);
    color: var(--color-nav-background)
}

nav li:nth-of-type(odd) a:hover {
    z-index: 5;
    rotate: -5deg;
    background-image: linear-gradient(var(--color-accent-blue2)45%, var(--color-accent-blue1)55%);
    color: var(--color-nav-background)
}

@media only screen and (max-width: 60em) {
    h1{
        font-size: 10vw;
        z-index: 2;
        position: relative;
        margin-left: 10vw;
        display: block;
        letter-spacing: 2vw;
        z-index: 2;  
    }

    /* header>div{
        height:auto
    } */

    /* #div1 {
        z-index: 1;
        position: relative;
        left: -600px;
        top: -40px;
        rotate: 10deg;
        width: 100em;
        height: 7vw;
        background-image: linear-gradient(var(--color-accent-blue2)45%, var(--color-accent-blue1)55%);
    } */
    
    /* #div2 {
        z-index: 1;
        position: relative;
        left: -600px;
        top: 20px;
        rotate: -30deg;
        width: 80em;
        height: 7vw;
        background-image: linear-gradient(var(--color-accent-blue2)45%, var(--color-accent-blue1)55%);
        overflow-x: hidden;
    } */

    nav a {
        font-size: 3vw;}
}



section {
    padding: 20px;
}

#over {
    /* height: 10em; */
}

#over p, #Skinprojects p, #UIUXprojects p, #contact p {
    margin-bottom: 0.3em;
    width: 40em;
}

#over h2, #Skinprojects h2, #UIUXprojects h2, #contact h2 {
    margin-bottom: 0.5em;
}


#over, #Skinprojects, #UIUXprojects, #contact {  
    /* background:  
    linear-gradient(60deg, rgba(0,255,0,0) 19.5%, rgba(0, 0, 0, 0.3) 19.9%, var(--color-accent-blue2)20%, var(--color-accent-blue2)25%, 
    var(--color-accent-blue1)25%, var(--color-accent-blue1)30%, rgba(0, 0, 0, 0.3) 30.1%, rgba(0,255,0,0) 30.5%),

    linear-gradient(90deg, var(--color-nav-background)2.5%, rgba(0, 0, 0, 0.3) 3%, var(--color-accent-red2)3%, var(--color-accent-red2) 6%, 
    var(--color-accent-red1)6%, var(--color-accent-red1) 9%, rgba(0, 0, 0, 0.3) 9%, var(--color-nav-background)9.5%, var(--color-nav-background)100%, rgba(255,0,0,0) 100%); */
    background: linear-gradient(45deg, #2a1d3def 50%, #0b0318ef 100%);
    margin: 10px;
    border-radius: 10px;
    width: 80vw;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.project{
    display: flex;
    align-items: center;
}

.project>div:nth-of-type(2){
    display: flex;
    align-items: center;
    justify-content: center;
}

.project>div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project img, .project video{
    height: 100%;
    width: 22em;
    border-radius: 10px;
}

.project a {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 15em;
    font-size: 1.5em;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(var(--color-accent-blue2)45%, var(--color-accent-blue1)55%);
    color: var(--color-nav-background);
    flex-direction: row;
    margin-bottom: 0.5em
}

.project a:hover {
    z-index: 5;
    rotate: 5deg;
    background-image: linear-gradient(var(--color-accent-blue2)45%, var(--color-accent-blue1)55%);
    color: var(--color-nav-background)
}

/* @media only screen and (max-width: 66em) {
    .project img, .project video{
        max-width: 45%;
    }
} */

@media only screen and (max-width: 60em) {
    #over p, #Skinprojects p, #UIUXprojects p, #contact p {
        width: 100%;
    }

    .project{
        display: block;
    }

    .project img, .project video{
        width: 100%;
    }

    .project>div{
        flex-direction: column;
    }

    .project a {
        width: 70vw;}
} 

@media only screen and (max-width: 105em) {

    .project{
        display: block;
    }

    .project div>img, .project div>video{
        margin-bottom: 1em;
    }

    .project img, .project video{
        margin-right: 1em;
    }
}

/* @media only screen and (min-width: 105em) {
    .project img, .project video{
        margin-left: 1em;
    }
}  */

#contact {
    margin-bottom: 3em;
}

/* #contact ul{
    list-style-type: decimal;
} */

.custom-list {
    list-style-type: none;
    padding-left: 0px; /* Adjust the padding to your preference */
}

.custom-list li{
    flex-direction: row;
    align-items: center;
    display: flex;
}

.custom-list li p{
    font-size: 1.5em;
    position: relative;
    left: -10px;
    z-index: 2;
}

.custom-list div {
    z-index: 1;
    position: relative;
    left: 0px;
    width: 1.5em;
    height: 8px;
    background-image: linear-gradient(var(--color-accent-red2)45%, var(--color-accent-red1)55%);
}

footer {
    z-index: 3;
    background:
    /* Blue Line Right */
    linear-gradient(90deg, rgba(0,255,0,0) 19.5%, rgba(0, 0, 0, 0.3) 19.9%, var(--color-accent-blue2)20%, var(--color-accent-blue2)25%, 
    var(--color-accent-blue1)25%, var(--color-accent-blue1)30%, rgba(0, 0, 0, 0.3) 30.1%, rgba(0,255,0,0) 30.5%),

    /* Red background */
    linear-gradient(var(--color-accent-red2)45%, var(--color-accent-red1)55%);    color: var(--color-text);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#contact a{
    color: var(--color-text);
}

#contact>p {
    display: flex;
    justify-content: center;
    width: 100%;
}

#contact strong {
    margin-right: 0.5em;
}

@media only screen and (max-width: 48em) {
footer p{
    font-size: 2vw;
}}
